{% extends "homepage.html" %}

{% block content %}
<div class="container contact-info">
    {% for info in contact %}
    <div class="contact-section">
        <h2 class= "emboss-effect">{{ info.name }}</h2>
        <div class="contact-content">
            {{ info.content | safe }}
        </div>
        <ul class="contact-details">
            <li><strong>Email: <a href="mailto:{{ info.email }}">{{ info.email }} </strong></a></li>
            <li><strong>Telefon: {{ info.phone }}</strong> </li>
            <li><strong>Facebook: <a href="{{ info.facebook_page }}" target="_blank">{{ info.facebook_page }}</strong></a></li>
            <li><strong>Instagram: <a href="{{ info.instagram }}" target="_blank">{{ info.instagram }}</strong></a></li>
            <li><strong>Adresă: {{ info.address }}</strong></li>
        </ul>
    </div>
    {% empty %}
    <div class="no-contact-info">
        <p>Momentan nu există informații de contact disponibile.</p>
    </div>
    {% endfor %}
</div>
{% endblock %}