<!doctype html>
{% load static %}
<html class="no-js" lang="">

    <head>

        <meta charset="utf-8">

        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>MoonLight Relax</title>

        <meta name="description" content="Îmbrățișează calmul și liniștea la Moonlight Relax. Descoperă beneficiile terapeutice ale masajului de relaxare și lasă-ne să te ghidăm către starea de bine și echilibru interior">
        <meta name="keywords" content="masaj de relaxare, masaj terapeutic, relaxare, wellness, Cluj-Napoca, masaj clasic, masaj anticelulitic,  masaj de întreținere, masaj de recuperare">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

        <!-- Place favicon.ico in the root directory -->



		<!-- CSS here -->

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/meanmenu.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
        

    </head>

    <body>



        <!-- Header Area Start -->

        <header>

            <div class="header-area black-bg">

                <div class="container-fluid">

                    <div class="row no-gutters">

                        <div class="col-xl-3 col-lg-2 col-md-4">

                            <div class="logo">

                                <a href="/"><img  src="{% static 'img/logo_bun.png' %}" alt="MoonLight Relax Logo"></a>

                            </div>

                        </div>

                        <div class="col-xl-6 col-lg-10 col-md-8">

                            <div class="main-menu">

                                <nav id="mobile-menu">

                                    <ul>

                                        <li><a href="/">home</a></li>

                                        <li><a href="/about">despre</a></li>

                                        <li><a href="/servicii">Servicii</a></li>
                                        <li><a href="/programare">Rezervări</a></li>

                                        <li><a href="/contact">contact</a></li>

                                    </ul>

                                </nav>

                            </div>

                        </div>

                        <div class="col-xl-3 d-none d-xl-block">

                            <div class="header-btn ">

                                <a class="theme-btn" href="tel:+40751429527"><i class="fas fa-phone"></i>Telefon</a>

                            </div>

                        </div>

                        <div class="col-12">

                            <div class="mobile-menu"></div>

                        </div>

                    </div>

                </div>

            </div>

        </header>

        <!-- Header Area End -->



        <!-- Main Area Start -->

        <main>

            <!-- Slider Area Start -->

            <section class="slider-area black-bg">

                <div class="container-fluid">

                    <div class="slider-active">

                        <div class="single-slider text-center d-flex align-items-center justify-content-center" style="background-image: url('{{ STATIC_URL }}img/slider/slider-01.png');">

                            <div class="container">

                                <div class="slider-content">

                                    <h6 data-animation="fadeInUp" data-delay=".2s">Bine ai venit!</h6>

                                    <h1 data-animation="fadeInUp" data-delay=".4s">Descoperă oaza ta de relaxare! <br> </h1>

                                    <div class="slider-btn">

                                        <a class="btn theme-btn" href="/about" data-animation="fadeInUp" data-delay=".6s">Despre</a>

                                        <a class="btn black-btn" href="/programare" data-animation="fadeInUp" data-delay=".8s">Vreau programare</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="single-slider text-center d-flex align-items-center justify-content-center" style="background-image: url('{{ STATIC_URL }}img/slider/slider-02.jpg');">


                            <div class="container">

                                <div class="slider-content">

                                    <h6 data-animation="fadeInUp" data-delay=".2s">CU BUCURIE</h6>

                                    <h1 data-animation="fadeInUp" data-delay=".4s">Rezervă acum un loc la Moonlight Relax! <br> </h1>

                                    <div class="slider-btn">

                                        <a class="btn theme-btn" href="/about" data-animation="fadeInUp" data-delay=".6s">Despre</a>

                                        <a class="btn black-btn" href="/programare" data-animation="fadeInUp" data-delay=".8s">Vreau programare</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                        <div class="single-slider text-center d-flex align-items-center justify-content-center" style="background-image: url('{{ STATIC_URL }}img/slider/slider-03.jpg');">


                            <div class="container">

                                <div class="slider-content">

                                    <h6 data-animation="fadeInUp" data-delay=".2s">MoonLight Relax</h6>

                                    <h1 data-animation="fadeInUp" data-delay=".4s">Explorează pagina <br>noastră</h1>

                                    <div class="slider-btn">

                                        <a class="btn theme-btn" href="/about" data-animation="fadeInUp" data-delay=".6s">Despre</a>

                                        <a class="btn black-btn" href="/programare" data-animation="fadeInUp" data-delay=".8s">Vreau programare</a>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="scroll d-none d-lg-block">

                    <a class="smoth-scroll" href="#about">scroll</a>

                </div>

                <div class="header-social d-none d-lg-block">

                    <ul>
                        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                        <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>

                        <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        

                    </ul>

                </div>

            </section>

            <!-- Slider Area End -->



            <!-- About Area Start -->

            <section id="about" class="about-area pt-120 pb-65">

                <div class="container">

                    <div class="about-border">

                        <div class="row">

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 px-0">

                                <div class="about-heading">

                                    <span class="small-title">MASAJE DE LUX</span>

                                    <h2>Revigorează-ți mintea, corpul și spiritul cu experiența unui masaj profesional.</h2>

                                </div>

                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">

                                <div class="about-text">

                                    <p>În spațiul nostru de refugiu, vei descoperi un mediu liniștit și 

                                    reconfortant, unde fiecare detalii este gândit pentru confortul și relaxarea ta. 

                                    Terapeuții noștri specializați îți vor oferi o experiență personalizată,

                                    asigurându-se că părăsești sesiunea simțindu-te revigorat, reechilibrat și profund reînnoit.</p>

                                    <a href="/programare" class="theme-btn">Fă o programare!</a>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <!-- About Area End -->

        </main>

        <!-- Main Area End -->



        <!-- Footer Area Start -->

        <footer>

            <!-- Footer Top Area Start -->

            <section class="footer-area black-bg pt-115 pb-120">

                <div class="container">

                    <div class="row">

                        <div class="col-xl-4 col-lg-4 col-md-6">

                            <div class="footer-widget">

                                <div class="footer-logo">

                                    <img src="{% static 'img/logo.png' %}" alt="logo">

                                </div>

                                <p>Nu uita că relaxarea este o artă. Oferă-ți o pauză de liniște. 
                                    Vino la un masaj și redescoperă armonia interioară.</p>

                                <div class="footer-social-link">

                                    <ul>

                                        <li><a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a></li>

                                        <li><a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
    
                                        <li><a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                        <div class="col-xl-5 col-lg-5 col-md-6 d-flex justify-content-center">

                            <div class="footer-widget pl-30">

                                <h2>Links</h2>

                                <div class="footer-menu">

                                    <ul>

                                        <li><a href="/">Home</a></li>

                                        <li><a href="/about">Despre</a></li>
    
                                        <li><a href="/servicii">Servicii</a></li>
    
                                        <li><a href="/programare">Rezervări</a></li>
    
                                        <li><a href="/contact">Contact</a></li>

                                        <li><a href="/politica-confidentialitate">Politica de Confidențialitate</a></li>

                                        <li><a href="/termeni-si-conditii">Termeni și Condiții</a></li>

                                    </ul>

                                </div>

                            </div>

                        </div>
                        </div>

                    </div>

                </div>

            </section>

            <!-- Footer Top Area End -->



            <section class="footer-bottom pt-25 pb-25 theme-bg">

                <div class="container">

                    <div class="row">

                        <div class="col-xl-12">

                            <div class="copyright text-center">

                                <h6>Copyright by@MoonLightRelax - 2024</h6>

                            </div>

                        </div>

                    </div>

                </div>

            </section>

        </footer>

        <!-- Footer Area End -->

		<!-- JS here -->

        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/one-page-nav-min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/jquery.meanmenu.min.js' %}"></script>
        <script src="{% static 'js/ajax-form.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script> 
            $(document).ready(function(){
                $('.slider-active').slick({
                    dots: true,
                    infinite: true,
                    speed: 300,
                    slidesToShow: 1,
                    adaptiveHeight: true
                });
            });


        </script>
        

    </body>

</html>