// Font Family
$rubik: 'Rubik', sans-serif;
$domine: 'Domine', serif;
$opensens: 'Open Sans', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #2a2d2c;
$theme-color: #e8d2b8;
$grey: #6a6560;
$pink: #ec5598;
$blue: #6a1b9a;
$black-1: #0f0c20;
$dimgrey: #657583;
$brown: #b69e59;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1450px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$mobile: '(max-width: 575px)';


